{{#each burgers}}
<div>
    <p style="display: inline-block" ;>{{this.id}}. {{this.burger_name}}</p>
    <button class="delete-data" id={{this.id}}>X</button>
</div>
{{/each}}
<form action="/create" method="POST">
    <textarea name="burger_name"></textarea>
    <input type="submit" value="Submit">
</form>
<script src="/assets/js/burger.js"></script>